@using ConceptArchitect.BookManagement
@model User
@{
    ViewBag.ExcludeCommonCode = true;
}
<h2>LogIN </h2>


<form asp-action="Login" method="POST">

    <label asp-for="@Model.email" class='form-label'>Email</label>
    <input type='email' name="email" value="@Model.email" class='form-control' />

    <label asp-for="@Model.password" class='form-label'>Password</label>
    <input type='password' name="password" value="@Model.password" class='form-control' />

    




    <div>

        <input type="submit" value="Login" class='btn btn-primary form-control' />
        <div class="btn btn-info form-control">
            <a class="nav-link text-light" asp-controller="user" asp-action="add">Need a Account</a>
        </div>
    </div>
</form>
